GROQ_API_KEY=your_groq_api_key_here
MONGODB_URI=mongodb+srv://<username>:<password>@cluster0.xxxxx.mongodb.net/?appName=Cluster0
CLERK_FRONTEND_API=https://your-clerk-frontend-api.clerk.accounts.dev
NVIDIA_API_KEY=your_nvidia_api_key_here
MAIL_USER=your_gmail_address@gmail.com
MAIL_PASS=your_gmail_app_password_here
